body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1, h2, h3 {  
    font-family: 'Libre Baskerville', serif;
  }

.selected {
    background-color: lightgray !important;
}
  .buttonContainer {
      margin: 0 auto;
      display: flex;
      width: 90%;
      max-width: 800px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      cursor: pointer;
      .country {
        background-color: white;
        margin: 0.5rem;
        min-width: 100px;
        border: solid black 1px;
        padding: 0.5rem;
        border-radius: 5px;
       .countryName {
           font-size: 1.2rem;
           text-transform: uppercase;
           font-weight: 300;
       } 
       p {
           padding: 0;
           margin: 0;
       }
    }
  }
.rateContainer {
    text-align: center;
    width: 90%;
      max-width: 900px;
      margin: 0 auto;
}
  .rateDisplay {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 90%;
      max-width: 900px;
      justify-content: center;
      margin: 0 auto;
      input {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
        width: 250px;
        border-radius: 5px;
        margin: 32px auto;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        outline: none;
        border: solid 1px black;

      }
      .amount {
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: solid 1px black;
        width: 250px;
        text-align: center;
        margin: 32px auto;
        border-radius: 5px;
        padding: 1px 2px;

      }
      @media (max-width: 800px) { 
          grid-template-columns: 1fr;
       }
  }

  .input-icon {
    position: relative;
    width: 250px;
    margin: 0 auto;
  }
  
  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    font-size: 1.5rem;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
  }